* {
  box-sizing: border-box; }

body {
  font-family: 'Lato',Arial,sans-serif;
  background-color: white; }

.grid {
  background-color: #f0f0d8;
  margin: 0 0 20px 0; }
  .grid:after {
    content: "";
    display: table;
    clear: both; }

[class*='col-'] {
  float: left;
  padding-right: 20px; }
  .grid [class*='col-']:last-of-type {
    padding-right: 0; }

.col-1-2 {
  width: 50%; }

.col-1-3 {
  width: 33.3%; }

.col-1-4 {
  width: 25%; }

.col-1-8 {
  width: 12.5%; }

.col-2-3 {
  width: 66.66%; }

.module {
  padding: 20px;
  background: #eee; }

.grid-pad {
  padding: 20px 0 20px 20px; }
  .grid-pad [class*='col-']:last-of-type {
    padding-right: 20px; }

.zero {
  padding-right: 0px; }

.left {
  float: left; }

.right {
  float: right; }

#navbar {
  position: relative;
  height: 52px;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: #b4df37;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); }
  #navbar h1 {
    float: left;
    font-family: "Lobster", cursive;
    font-size: 26px;
    color: white;
    margin: 0; }

#dropdown-area {
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); }

#result-area .grid {
  background-color: white; }
#result-area .prod-navigation {
  display: none; }
#result-area span {
  cursor: pointer; }
#result-area h3 {
  padding-left: 20px; }

#mobile-tab ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  #mobile-tab ul li {
    display: inline-block;
    width: 33.3%;
    margin-left: -2px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    background-color: #666666;
    color: white; }
    #mobile-tab ul li.active {
      background-color: #77cca4; }

.grid select {
  width: 100%; }
.grid select:disabled {
  background-color: #666666; }
.grid table {
  border-collapse: collapse;
  width: 100%; }
.grid th, .grid td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc; }
.grid tbody tr:nth-child(odd) {
  background: #eee; }

@media screen and (min-width: 385px) {
  .hide-desktop {
    display: none; } }
@media screen and (min-width: 0px) and (max-width: 384px) {
  .hide-mobile {
    display: none; }

  .col-1-3 {
    width: 100%; }

  #first-result,
  #second-result,
  #third-result {
    display: none; }

  #first-result.active,
  #second-result.active,
  #third-result.active {
    display: block; }

  .active .prod-navigation {
    display: block !important; } }

/*# sourceMappingURL=main.css.map */
