// Mixin
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

// Brand
// Palette color
$light-gray: #f0f0d8;
$light-turqoise: #b4debe;
$turqoise: #77cca4;
$blue-gray: #666666;
$lime-green: #b4df37;

$lobster: 'Lobster', cursive;

* {
	box-sizing: border-box;
}

body {
	font-family: 'Lato',Arial,sans-serif;
	background-color: white;
}

//  Grid System

$pad: 20px;

.grid {
	background-color: $light-gray;
	margin: 0 0 $pad 0;

	&:after {
    	content: "";
    	display: table;
    	clear: both;
	}
}

[class*='col-'] {
	float: left;
  padding-right: $pad;
  .grid &:last-of-type {
  	padding-right: 0;
  }
}

.col-1-2 {width: 50%;}
.col-1-3 {width: 33.3%;}
.col-1-4 {width: 25%;}
.col-1-8 {width: 12.5%;}
.col-2-3 {width: 66.66%;}

.module {
  padding: $pad;
  background: #eee;
}

// Opt-in outside padding 
.grid-pad {
  padding: $pad 0 $pad $pad;
  [class*='col-']:last-of-type {
    padding-right: $pad;
  }
}

// no padding (right)
.zero {padding-right: 0px;}

.left {
	float: left;
}
.right {
	float:right;
}

// Layouts

#navbar {
	position:relative;
	height:52px;
	padding: 10px 20px;
	box-sizing: border-box;
	background-color:$lime-green;
	@include box-shadow(0, 3px, 10px, rgba(0, 0, 0, 0.2));

		h1{
			float: left;
			font-family: $lobster;
			font-size: 26px;
			color: white;
			margin: 0; 
		}
}

#dropdown-area {
	@include box-shadow(0, 3px, 10px, rgba(0, 0, 0, 0.2));
}

#result-area {
	.grid {
		background-color: white;
	}

	.prod-navigation {
		display: none;

	}

	span{
		cursor: pointer;
	}

	h3 {
		padding-left:20px;
	}
}

#mobile-tab {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;

			li {
				display: inline-block;
				width: 33.3%;
				margin-left: -2px;
				padding: 15px;
				text-align: center;
				cursor: pointer;
				background-color: $blue-gray;
				color: white;

				&.active {
					background-color: $turqoise;
				}
			}
	}
}

// Elements
.grid {
	select {
		width: 100%;
	}

	select:disabled {
		background-color: $blue-gray;
	}

	table {
	  border-collapse: collapse;
	  width: 100%;
	}
	
	th, td {
	  padding: 0.25rem;
	  text-align: left;
	  border: 1px solid #ccc;
	}
	
	tbody tr:nth-child(odd) {
	  background: #eee;
	}
}


// Media queries
// Desktop
@media screen and (min-width: 385px)
{
  .hide-desktop{
    display: none;
  }


}
// Mobile
@media screen and (min-width: 0px) and (max-width: 384px)
{
  .hide-mobile{
    display: none;
  }

  .col-1-3 {
  	width: 100%;
  }


  #first-result,
  #second-result,
  #third-result {
  	display: none;
  }

  #first-result.active, 
  #second-result.active, 
  #third-result.active {
  	display: block;
  }
  
  .active .prod-navigation {
		display: block !important;
	}

}

